In [169]:
import json
import csv
import pandas as pd

1. Merging individual datasets into a single dataframe

In [170]:
state_list_df = pd.read_csv('../Resources/state_list_REFERENCE.csv')
state_list_df.head()

  state_abbr       state
0         AK      Alaska
1         AL     Alabama
2         AR    Arkansas
3         AZ     Arizona
4         CA  California

In [171]:
state_df = pd.read_csv('../Resources/all_state_market_data_FINALSET.csv')
state_df.head()

  state_abbr            date     handle   revenue   hold    taxes  primary_key
0         AR       July 2019   416160.0   76885.0  0.185   9995.0            1
1         AR     August 2019   778249.0   58858.0  0.076   7652.0            2
2         AR  September 2019  2252196.0  183044.0  0.081  23796.0            3
3         AR    October 2019  2216369.0  380006.0  0.171  49401.0            4
4         AR   November 2019  2978235.0  181497.0  0.061  23595.0            5

In [172]:
#merge the two dataframes by state_abbr
state_dataset_FINAL_df = pd.merge(state_df, state_list_df, on='state_abbr', how='left')
state_dataset_FINAL_df.head(5)

,state_abbr,date,handle,revenue,hold,taxes,primary_key,state
0,AR,July 2019,416160.0,76885.0,0.185,9995.0,1,Arkansas
1,AR,August 2019,778249.0,58858.0,0.076,7652.0,2,Arkansas
2,AR,September 2019,2252196.0,183044.0,0.081,23796.0,3,Arkansas
3,AR,October 2019,2216369.0,380006.0,0.171,49401.0,4,Arkansas
4,AR,November 2019,2978235.0,181497.0,0.061,23595.0,5,Arkansas

In [173]:
census_df = pd.read_csv('../Resources/census_data_FINALSET.csv')

In [174]:
#merge state_dataset_FINAL_df by state 
state_dataset_FINAL_df = pd.merge(state_dataset_FINAL_df, census_df, on='state', how='left')
state_dataset_FINAL_df.head(5)

,state_abbr,date,handle,revenue,hold,taxes,primary_key,state,population_total,population_under_18,earnings_median,population_over_18
0,AR,July 2019,416160.0,76885.0,0.185,9995.0,1,Arkansas,3025891,703793,33869,2322098
1,AR,August 2019,778249.0,58858.0,0.076,7652.0,2,Arkansas,3025891,703793,33869,2322098
2,AR,September 2019,2252196.0,183044.0,0.081,23796.0,3,Arkansas,3025891,703793,33869,2322098
3,AR,October 2019,2216369.0,380006.0,0.171,49401.0,4,Arkansas,3025891,703793,33869,2322098
4,AR,November 2019,2978235.0,181497.0,0.061,23595.0,5,Arkansas,3025891,703793,33869,2322098

In [175]:
ways_to_bet_df = pd.read_csv('../Resources/legal_online_inperson_FINALSET.csv')
#merge state_dataset_FINAL_df by state
state_dataset_FINAL_df = pd.merge(state_dataset_FINAL_df, ways_to_bet_df, on='state', how='left')
state_dataset_FINAL_df.head(5)

,state_abbr,date,handle,revenue,hold,taxes,primary_key,state,population_total,population_under_18,earnings_median,population_over_18,online,in_person,Ways_to_bet
0,AR,July 2019,416160.0,76885.0,0.185,9995.0,1,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person
1,AR,August 2019,778249.0,58858.0,0.076,7652.0,2,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person
2,AR,September 2019,2252196.0,183044.0,0.081,23796.0,3,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person
3,AR,October 2019,2216369.0,380006.0,0.171,49401.0,4,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person
4,AR,November 2019,2978235.0,181497.0,0.061,23595.0,5,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person

In [176]:
taxes_df = pd.read_csv('../Resources/state_tax_df_INTERMEDIATE_FILE.csv')
taxes_df.head()

  state_abbr       state tax_status
0         AK      Alaska         No
1         AL     Alabama        Yes
2         AR    Arkansas        Yes
3         AZ     Arizona        Yes
4         CA  California         No

In [177]:
#add tax_status column to state_dataset_FINAL_df and transfer that column to the state_dataset_FINAL_df matching by state
state_dataset_FINAL_df['tax_status'] = taxes_df['tax_status']
state_dataset_FINAL_df.head(5)

,state_abbr,date,handle,revenue,hold,taxes,primary_key,state,population_total,population_under_18,earnings_median,population_over_18,online,in_person,Ways_to_bet,tax_status
0,AR,July 2019,416160.0,76885.0,0.185,9995.0,1,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,No
1,AR,August 2019,778249.0,58858.0,0.076,7652.0,2,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,Yes
2,AR,September 2019,2252196.0,183044.0,0.081,23796.0,3,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,Yes
3,AR,October 2019,2216369.0,380006.0,0.171,49401.0,4,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,Yes
4,AR,November 2019,2978235.0,181497.0,0.061,23595.0,5,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,No

2. Organizing and cleaning data in preparation for state_detail JSON build

In [178]:
#extract year from date column and populate in a new column
state_dataset_FINAL_df['year'] = pd.DatetimeIndex(state_dataset_FINAL_df['date']).year
#extract month from date column and populate in a new column
state_dataset_FINAL_df['month'] = pd.DatetimeIndex(state_dataset_FINAL_df['date']).month
state_dataset_FINAL_df.head(5)

,state_abbr,date,handle,revenue,hold,taxes,primary_key,state,population_total,population_under_18,earnings_median,population_over_18,online,in_person,Ways_to_bet,tax_status,year,month
0,AR,July 2019,416160.0,76885.0,0.185,9995.0,1,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,No,2019,7
1,AR,August 2019,778249.0,58858.0,0.076,7652.0,2,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,Yes,2019,8
2,AR,September 2019,2252196.0,183044.0,0.081,23796.0,3,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,Yes,2019,9
3,AR,October 2019,2216369.0,380006.0,0.171,49401.0,4,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,Yes,2019,10
4,AR,November 2019,2978235.0,181497.0,0.061,23595.0,5,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,No,2019,11

In [180]:
#save datarframe to JSON file
state_dataset_FINAL_df.to_json('../json/state_detail.json', orient='records')

3. Prepare JSON file for summary data for revenue & taxes over time by ways to bet

In [182]:
#group state_dataset_FINAL_df vt "ways_to_bet" and date columns
data_over_time = state_dataset_FINAL_df.groupby(['Ways_to_bet', 'date']).sum()
data_over_time.head(70)

C:\Users\lasot\AppData\Local\Temp\ipykernel_17840\4028609966.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data_over_time = state_dataset_FINAL_df.groupby(['Ways_to_bet', 'date']).sum()

                                      handle      revenue   hold        taxes  \
Ways_to_bet        date
In Person Only     April 2019   2.527695e+07    2761573.0  0.223     614464.0
                   April 2020   4.340000e+02       -289.0 -0.666       -303.0
                   April 2021   4.164222e+07    5825580.0  0.472    1156546.0
                   April 2022   4.331582e+07    5044092.0  0.560     740471.0
                   April 2023   4.095016e+07    5760597.0  0.525     831251.0
...                                      ...          ...    ...          ...
Online & In-Person April 2022   7.130079e+09  493994591.0  1.445  106139209.0
                   April 2023   8.779382e+09  819388277.0  2.217  165265181.0
                   August 2018  3.435613e+08   21997772.0  0.792    1908470.0
                   August 2019  7.260706e+08   59268549.0  0.966    7607289.0
                   August 2020  2.145616e+09  125352404.0  0.992   18514039.0

                                primary_key  population_total  \
Ways_to_bet        date
In Person Only     April 2019           657           3953349
                   April 2020          1210           5057620
                   April 2021          1246           5057620
                   April 2022          2240           5952996
                   April 2023          2288           5952996
...                                     ...               ...
Online & In-Person April 2022         10114         126267523
                   April 2023         11921         147966845
                   August 2018         2329          14194080
                   August 2019         5089          54308629
                   August 2020         7824          95954160

                                population_under_18  earnings_median  \
Ways_to_bet        date
In Person Only     April 2019                900402            73616
                   April 2020               1135249           108888
                   April 2021               1135249           108888
                   April 2022               1355870           146037
                   April 2023               1355870           146037
...                                             ...              ...
Online & In-Person April 2022              27192367           853801
                   April 2023              31859923           980769
                   August 2018              3079887           120812
                   August 2019             11506778           320085
                   August 2020             20526886           639860

                                population_over_18   year  month
Ways_to_bet        date
In Person Only     April 2019              3052947   4038      8
                   April 2020              3922371   6060     12
                   April 2021              3922371   6063     12
                   April 2022              4597126   8088     16
                   April 2023              4597126   8092     16
...                                            ...    ...    ...
Online & In-Person April 2022             99075156  40440     80
                   April 2023            116106922  46529     92
                   August 2018            11114193   6054     24
                   August 2019            42801851  16152     64
                   August 2020            75427274  30300    120

[70 rows x 11 columns]

In [183]:
#extract "in_person" data from data_over_time
in_person_data = data_over_time.loc['In Person Only']
#add column "Ways_to_bet" and populate with "In Person Only"
in_person_data['Ways_to_bet'] = 'In Person Only'
#extract "Online & In-Person" data from data_over_time
online_in_person_data = data_over_time.loc['Online & In-Person']
online_in_person_data["Ways_to_bet"] = "Online & In-Person"
#extract "Online Only" data from data_over_time
online_only_data = data_over_time.loc['Online Only']
online_only_data["Ways_to_bet"] = "Online Only"

#create one dataframe with all data
all_data = pd.concat([in_person_data, online_in_person_data, online_only_data])

C:\Users\lasot\AppData\Local\Temp\ipykernel_17840\336358428.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  in_person_data['Ways_to_bet'] = 'In Person Only'
C:\Users\lasot\AppData\Local\Temp\ipykernel_17840\336358428.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  online_in_person_data["Ways_to_bet"] = "Online & In-Person"
C:\Users\lasot\AppData\Local\Temp\ipykernel_17840\336358428.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  online_only_data["Ways_to_bet"] = "Online Only"

In [185]:
#drop columns: 'year','month','hold', 'primary_key'
all_data = all_data.drop(columns=['year','month','hold', 'primary_key'])

In [186]:
#create a date column from index
all_data['date'] = all_data.index

In [187]:
#extract year from date column and populate in a new column
all_data['year'] = pd.DatetimeIndex(all_data['date']).year
#extract month from date column and populate in a new column
all_data['month'] = pd.DatetimeIndex(all_data['date']).month

In [188]:
#add rev_per_capita column to all_data where revenue is divided by population_over_18
all_data['rev_per_capita'] = all_data['revenue'] / all_data['population_over_18']
all_data.head(5)

,handle,revenue,taxes,population_total,population_under_18,earnings_median,population_over_18,Ways_to_bet,date,year,month,rev_per_capita
date,,,,,,,,,,,,
April 2019,25276946.0,2761573.0,614464.0,3953349,900402,73616,3052947,In Person Only,April 2019,2019,4,0.904560
April 2020,434.0,-289.0,-303.0,5057620,1135249,108888,3922371,In Person Only,April 2020,2020,4,-0.000074
April 2021,41642221.0,5825580.0,1156546.0,5057620,1135249,108888,3922371,In Person Only,April 2021,2021,4,1.485219
April 2022,43315825.0,5044092.0,740471.0,5952996,1355870,146037,4597126,In Person Only,April 2022,2022,4,1.097227
April 2023,40950155.0,5760597.0,831251.0,5952996,1355870,146037,4597126,In Person Only,April 2023,2023,4,1.253087

In [ ]:
#load dataframe to JSON file "rev_over_time_ways_to_bet.json"
all_data.to_json('../json/rev_over_time_ways_to_bet.json', orient='records')