In [428]:
import json
import csv
import pandas as pd

1. Merging individual datasets into a single dataframe

In [429]:
state_list_df = pd.read_csv('../Resources/state_list_REFERENCE.csv')
state_list_df.head()

  state_abbr       state
0         AK      Alaska
1         AL     Alabama
2         AR    Arkansas
3         AZ     Arizona
4         CA  California

In [430]:
state_df = pd.read_csv('../Resources/all_state_market_data_FINALSET.csv')
state_df.head()

  state_abbr            date     handle   revenue   hold    taxes  primary_key
0         AR       July 2019   416160.0   76885.0  0.185   9995.0            1
1         AR     August 2019   778249.0   58858.0  0.076   7652.0            2
2         AR  September 2019  2252196.0  183044.0  0.081  23796.0            3
3         AR    October 2019  2216369.0  380006.0  0.171  49401.0            4
4         AR   November 2019  2978235.0  181497.0  0.061  23595.0            5

In [431]:
#merge the two dataframes by state_abbr
state_dataset_FINAL_df = pd.merge(state_df, state_list_df, on='state_abbr', how='left')
state_dataset_FINAL_df.head(5)

,state_abbr,date,handle,revenue,hold,taxes,primary_key,state
0,AR,July 2019,416160.0,76885.0,0.185,9995.0,1,Arkansas
1,AR,August 2019,778249.0,58858.0,0.076,7652.0,2,Arkansas
2,AR,September 2019,2252196.0,183044.0,0.081,23796.0,3,Arkansas
3,AR,October 2019,2216369.0,380006.0,0.171,49401.0,4,Arkansas
4,AR,November 2019,2978235.0,181497.0,0.061,23595.0,5,Arkansas

In [432]:
census_df = pd.read_csv('../Resources/census_data_FINALSET.csv')

In [433]:
#merge state_dataset_FINAL_df by state 
state_dataset_FINAL_df = pd.merge(state_dataset_FINAL_df, census_df, on='state', how='left')
state_dataset_FINAL_df.head(5)

,state_abbr,date,handle,revenue,hold,taxes,primary_key,state,population_total,population_under_18,earnings_median,population_over_18
0,AR,July 2019,416160.0,76885.0,0.185,9995.0,1,Arkansas,3025891,703793,33869,2322098
1,AR,August 2019,778249.0,58858.0,0.076,7652.0,2,Arkansas,3025891,703793,33869,2322098
2,AR,September 2019,2252196.0,183044.0,0.081,23796.0,3,Arkansas,3025891,703793,33869,2322098
3,AR,October 2019,2216369.0,380006.0,0.171,49401.0,4,Arkansas,3025891,703793,33869,2322098
4,AR,November 2019,2978235.0,181497.0,0.061,23595.0,5,Arkansas,3025891,703793,33869,2322098

In [434]:
ways_to_bet_df = pd.read_csv('../Resources/legal_online_inperson_FINALSET.csv')
#merge state_dataset_FINAL_df by state
state_dataset_FINAL_df = pd.merge(state_dataset_FINAL_df, ways_to_bet_df, on='state', how='left')
state_dataset_FINAL_df.head(5)

,state_abbr,date,handle,revenue,hold,taxes,primary_key,state,population_total,population_under_18,earnings_median,population_over_18,online,in_person,Ways_to_bet
0,AR,July 2019,416160.0,76885.0,0.185,9995.0,1,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person
1,AR,August 2019,778249.0,58858.0,0.076,7652.0,2,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person
2,AR,September 2019,2252196.0,183044.0,0.081,23796.0,3,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person
3,AR,October 2019,2216369.0,380006.0,0.171,49401.0,4,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person
4,AR,November 2019,2978235.0,181497.0,0.061,23595.0,5,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person

In [435]:
taxes_df = pd.read_csv('../Resources/state_tax_df_INTERMEDIATE_FILE.csv')
taxes_df.head()

  state_abbr       state tax_status
0         AK      Alaska         No
1         AL     Alabama        Yes
2         AR    Arkansas        Yes
3         AZ     Arizona        Yes
4         CA  California         No

In [436]:
#add tax_status column to state_dataset_FINAL_df and transfer that column to the state_dataset_FINAL_df matching by state
state_dataset_FINAL_df['tax_status'] = taxes_df['tax_status']
state_dataset_FINAL_df.head(5)

,state_abbr,date,handle,revenue,hold,taxes,primary_key,state,population_total,population_under_18,earnings_median,population_over_18,online,in_person,Ways_to_bet,tax_status
0,AR,July 2019,416160.0,76885.0,0.185,9995.0,1,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,No
1,AR,August 2019,778249.0,58858.0,0.076,7652.0,2,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,Yes
2,AR,September 2019,2252196.0,183044.0,0.081,23796.0,3,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,Yes
3,AR,October 2019,2216369.0,380006.0,0.171,49401.0,4,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,Yes
4,AR,November 2019,2978235.0,181497.0,0.061,23595.0,5,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,No

2. Organizing and cleaning data in preparation for state_detail JSON build

In [437]:
#extract year from date column and populate in a new column
state_dataset_FINAL_df['year'] = pd.DatetimeIndex(state_dataset_FINAL_df['date']).year
#extract month from date column and populate in a new column
state_dataset_FINAL_df['month'] = pd.DatetimeIndex(state_dataset_FINAL_df['date']).month
state_dataset_FINAL_df.head(5)

,state_abbr,date,handle,revenue,hold,taxes,primary_key,state,population_total,population_under_18,earnings_median,population_over_18,online,in_person,Ways_to_bet,tax_status,year,month
0,AR,July 2019,416160.0,76885.0,0.185,9995.0,1,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,No,2019,7
1,AR,August 2019,778249.0,58858.0,0.076,7652.0,2,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,Yes,2019,8
2,AR,September 2019,2252196.0,183044.0,0.081,23796.0,3,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,Yes,2019,9
3,AR,October 2019,2216369.0,380006.0,0.171,49401.0,4,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,Yes,2019,10
4,AR,November 2019,2978235.0,181497.0,0.061,23595.0,5,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,No,2019,11

In [438]:
#add a column revenue per capita and populate it with the calculation of revenue/population over 18
state_dataset_FINAL_df['revenue_per_capita'] = state_dataset_FINAL_df['revenue']/state_dataset_FINAL_df['population_over_18']
state_dataset_FINAL_df.head(5)

,state_abbr,date,handle,revenue,hold,taxes,primary_key,state,population_total,population_under_18,earnings_median,population_over_18,online,in_person,Ways_to_bet,tax_status,year,month,revenue_per_capita
0,AR,July 2019,416160.0,76885.0,0.185,9995.0,1,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,No,2019,7,0.033110
1,AR,August 2019,778249.0,58858.0,0.076,7652.0,2,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,Yes,2019,8,0.025347
2,AR,September 2019,2252196.0,183044.0,0.081,23796.0,3,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,Yes,2019,9,0.078827
3,AR,October 2019,2216369.0,380006.0,0.171,49401.0,4,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,Yes,2019,10,0.163648
4,AR,November 2019,2978235.0,181497.0,0.061,23595.0,5,Arkansas,3025891,703793,33869,2322098,YES,YES,Online & In-Person,No,2019,11,0.078161

In [439]:
#for column tax_status, replace "No" with "NO" and "Yes" with "YES"
state_dataset_FINAL_df['tax_status'] = state_dataset_FINAL_df['tax_status'].replace(['No'], 'NO')
state_dataset_FINAL_df['tax_status'] = state_dataset_FINAL_df['tax_status'].replace(['Yes'], 'YES')

In [440]:
state_dataset_FINAL_df.dtypes

state_abbr              object
date                    object
handle                 float64
revenue                float64
hold                   float64
taxes                  float64
primary_key              int64
state                   object
population_total         int64
population_under_18      int64
earnings_median          int64
population_over_18       int64
online                  object
in_person               object
Ways_to_bet             object
tax_status              object
year                     int64
month                    int64
revenue_per_capita     float64
dtype: object

In [406]:
#save datarframe to JSON file
state_dataset_FINAL_df.to_json('../json/state_detail.json', orient='records')

3. Prepare JSON file for summary data for revenue & taxes over time by ways to bet

In [407]:
#group state_dataset_FINAL_df vt "ways_to_bet" and date columns
data_over_time = state_dataset_FINAL_df.groupby(['Ways_to_bet', 'date']).sum()
data_over_time.head(70)

C:\Users\lasot\AppData\Local\Temp\ipykernel_17840\4028609966.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data_over_time = state_dataset_FINAL_df.groupby(['Ways_to_bet', 'date']).sum()

                                 hold  primary_key   year  month
Ways_to_bet        date
In Person Only     April 2019   0.223          657   4038      8
                   April 2020  -0.666         1210   6060     12
                   April 2021   0.472         1246   6063     12
                   April 2022   0.560         2240   8088     16
                   April 2023   0.525         2288   8092     16
...                               ...          ...    ...    ...
Online & In-Person April 2022   1.445        10114  40440     80
                   April 2023   2.217        11921  46529     92
                   August 2018  0.792         2329   6054     24
                   August 2019  0.966         5089  16152     64
                   August 2020  0.992         7824  30300    120

[70 rows x 4 columns]

In [408]:
#extract "in_person" data from data_over_time
in_person_data = data_over_time.loc['In Person Only']
#add column "Ways_to_bet" and populate with "In Person Only"
in_person_data['Ways_to_bet'] = 'In Person Only'
#extract "Online & In-Person" data from data_over_time
online_in_person_data = data_over_time.loc['Online & In-Person']
online_in_person_data["Ways_to_bet"] = "Online & In-Person"
#extract "Online Only" data from data_over_time
online_only_data = data_over_time.loc['Online Only']
online_only_data["Ways_to_bet"] = "Online Only"

#create one dataframe with all data
all_data = pd.concat([in_person_data, online_in_person_data, online_only_data])

C:\Users\lasot\AppData\Local\Temp\ipykernel_17840\336358428.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  in_person_data['Ways_to_bet'] = 'In Person Only'
C:\Users\lasot\AppData\Local\Temp\ipykernel_17840\336358428.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  online_in_person_data["Ways_to_bet"] = "Online & In-Person"
C:\Users\lasot\AppData\Local\Temp\ipykernel_17840\336358428.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  online_only_data["Ways_to_bet"] = "Online Only"

In [409]:
#drop columns: 'year','month','hold', 'primary_key'
all_data = all_data.drop(columns=['year','month','hold', 'primary_key'])

In [410]:
#create a date column from index
all_data['date'] = all_data.index

In [411]:
#extract year from date column and populate in a new column
all_data['year'] = pd.DatetimeIndex(all_data['date']).year
#extract month from date column and populate in a new column
all_data['month'] = pd.DatetimeIndex(all_data['date']).month

In [412]:
#add rev_per_capita column to all_data where revenue is divided by population_over_18
all_data['rev_per_capita'] = all_data['revenue'] / all_data['population_over_18']
all_data.head(5)

KeyError: 'revenue'

In [ ]:
#load dataframe to JSON file "rev_over_time_ways_to_bet.json"
all_data.to_json('../json/rev_over_time_ways_to_bet.json', orient='records')