In [26]:
import json
import csv
import pandas as pd

1. Merging individual datasets into a single dataframe

In [27]:
state_list_df = pd.read_csv('../Resources/state_list_REFERENCE.csv')
state_list_df.head()

  state_abbr       state
0         AK      Alaska
1         AL     Alabama
2         AR    Arkansas
3         AZ     Arizona
4         CA  California

In [28]:
state_df = pd.read_csv('../Resources/all_state_market_data_FINALSET.csv')
state_df.head()

  state_abbr            date     handle   revenue   hold    taxes  primary_key
0         AR       July 2019   416160.0   76885.0  0.185   9995.0            1
1         AR     August 2019   778249.0   58858.0  0.076   7652.0            2
2         AR  September 2019  2252196.0  183044.0  0.081  23796.0            3
3         AR    October 2019  2216369.0  380006.0  0.171  49401.0            4
4         AR   November 2019  2978235.0  181497.0  0.061  23595.0            5

In [29]:
#merge the two dataframes by state_abbr
state_dataset_FINAL_df = pd.merge(state_df, state_list_df, on='state_abbr', how='left')
state_dataset_FINAL_df.head(5)

,state_abbr,date,handle,revenue,hold,taxes,primary_key,state
0,AR,July 2019,416160.0,76885.0,0.185,9995.0,1,Arkansas
1,AR,August 2019,778249.0,58858.0,0.076,7652.0,2,Arkansas
2,AR,September 2019,2252196.0,183044.0,0.081,23796.0,3,Arkansas
3,AR,October 2019,2216369.0,380006.0,0.171,49401.0,4,Arkansas
4,AR,November 2019,2978235.0,181497.0,0.061,23595.0,5,Arkansas

In [30]:
census_df = pd.read_csv('../Resources/census_data_FINALSET.csv')

In [31]:
#merge state_dataset_FINAL_df by state 
state_dataset_FINAL_df = pd.merge(state_dataset_FINAL_df, census_df, on='state', how='left')
state_dataset_FINAL_df.head(5)

,state_abbr,date,handle,revenue,hold,taxes,primary_key,state,population_total,population_under_18,earnings_median,population_over_18
0,AR,July 2019,416160.0,76885.0,0.185,9995.0,1,Arkansas,3025891,703793,33869,2322098
1,AR,August 2019,778249.0,58858.0,0.076,7652.0,2,Arkansas,3025891,703793,33869,2322098
2,AR,September 2019,2252196.0,183044.0,0.081,23796.0,3,Arkansas,3025891,703793,33869,2322098
3,AR,October 2019,2216369.0,380006.0,0.171,49401.0,4,Arkansas,3025891,703793,33869,2322098
4,AR,November 2019,2978235.0,181497.0,0.061,23595.0,5,Arkansas,3025891,703793,33869,2322098

In [35]:
ways_to_bet_df = pd.read_csv('../Resources/legal_online_inperson_FINALSET.csv')
#merge state_dataset_FINAL_df by state
state_dataset_FINAL_df = pd.merge(state_dataset_FINAL_df, ways_to_bet_df, on='state', how='left')
state_dataset_FINAL_df.head(5)

,state_abbr,date,handle,revenue,hold,taxes,primary_key,state,population_total,population_under_18,earnings_median,population_over_18,tax_status,online,in_person,Ways_to_bet
0,AR,July 2019,416160.0,76885.0,0.185,9995.0,1,Arkansas,3025891,703793,33869,2322098,No,YES,YES,Online & In-Person
1,AR,August 2019,778249.0,58858.0,0.076,7652.0,2,Arkansas,3025891,703793,33869,2322098,Yes,YES,YES,Online & In-Person
2,AR,September 2019,2252196.0,183044.0,0.081,23796.0,3,Arkansas,3025891,703793,33869,2322098,Yes,YES,YES,Online & In-Person
3,AR,October 2019,2216369.0,380006.0,0.171,49401.0,4,Arkansas,3025891,703793,33869,2322098,Yes,YES,YES,Online & In-Person
4,AR,November 2019,2978235.0,181497.0,0.061,23595.0,5,Arkansas,3025891,703793,33869,2322098,No,YES,YES,Online & In-Person

In [33]:
taxes_df = pd.read_csv('../Resources/state_tax_df_INTERMEDIATE_FILE.csv')
taxes_df.head()

  state_abbr       state tax_status
0         AK      Alaska         No
1         AL     Alabama        Yes
2         AR    Arkansas        Yes
3         AZ     Arizona        Yes
4         CA  California         No

In [36]:
#add tax_status column to state_dataset_FINAL_df and transfer that column to the state_dataset_FINAL_df matching by state
state_dataset_FINAL_df['tax_status'] = taxes_df['tax_status']
state_dataset_FINAL_df.head(5)

,state_abbr,date,handle,revenue,hold,taxes,primary_key,state,population_total,population_under_18,earnings_median,population_over_18,tax_status,online,in_person,Ways_to_bet
0,AR,July 2019,416160.0,76885.0,0.185,9995.0,1,Arkansas,3025891,703793,33869,2322098,No,YES,YES,Online & In-Person
1,AR,August 2019,778249.0,58858.0,0.076,7652.0,2,Arkansas,3025891,703793,33869,2322098,Yes,YES,YES,Online & In-Person
2,AR,September 2019,2252196.0,183044.0,0.081,23796.0,3,Arkansas,3025891,703793,33869,2322098,Yes,YES,YES,Online & In-Person
3,AR,October 2019,2216369.0,380006.0,0.171,49401.0,4,Arkansas,3025891,703793,33869,2322098,Yes,YES,YES,Online & In-Person
4,AR,November 2019,2978235.0,181497.0,0.061,23595.0,5,Arkansas,3025891,703793,33869,2322098,No,YES,YES,Online & In-Person

2. Organizing and cleaning data in preparation for JSON build

In [38]:
#extract year from date column and populate in a new column
state_dataset_FINAL_df['year'] = pd.DatetimeIndex(state_dataset_FINAL_df['date']).year
#extract month from date column and populate in a new column
state_dataset_FINAL_df['month'] = pd.DatetimeIndex(state_dataset_FINAL_df['date']).month
state_dataset_FINAL_df.head(5)

,state_abbr,date,handle,revenue,hold,taxes,primary_key,state,population_total,population_under_18,earnings_median,population_over_18,tax_status,online,in_person,Ways_to_bet,year,month
0,AR,July 2019,416160.0,76885.0,0.185,9995.0,1,Arkansas,3025891,703793,33869,2322098,No,YES,YES,Online & In-Person,2019,7
1,AR,August 2019,778249.0,58858.0,0.076,7652.0,2,Arkansas,3025891,703793,33869,2322098,Yes,YES,YES,Online & In-Person,2019,8
2,AR,September 2019,2252196.0,183044.0,0.081,23796.0,3,Arkansas,3025891,703793,33869,2322098,Yes,YES,YES,Online & In-Person,2019,9
3,AR,October 2019,2216369.0,380006.0,0.171,49401.0,4,Arkansas,3025891,703793,33869,2322098,Yes,YES,YES,Online & In-Person,2019,10
4,AR,November 2019,2978235.0,181497.0,0.061,23595.0,5,Arkansas,3025891,703793,33869,2322098,No,YES,YES,Online & In-Person,2019,11